@model RegexApp.Models.RegexModel

@{
    ViewData["Title"] = "Regex";
}

<h1>View</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pattern)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pattern)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TextToCheck)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TextToCheck)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Result)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Result)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
